body {
  background-color: #ffffff;
}

h4,h1,h2,h3,h5, .yellow{
    color: #FF9000;
}

.center{
    text-align: center;
}

#li-username{
    line-height: 50px;
    color: #777777;
}

.navbar{
    background-color: #ffffff;
    color: #FF9000;
}

.li_nav {
    color: #FF9000 !important;
    font-size: 16px;
}

.nav-title{
    line-height: 50px;
    color: #FF9000;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px ;
}

a{
    color: #30333F;
    font-weight: bold;
}

.text-gray{
    color: #30333F;
}

#qr-canvas { display: none; }

.td_curso{
    width: 100%;
    padding: 2px 5px 0 5px;
    margin: 7px .35%;
    display: inline-flex;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
    margin-top: 5px;
    background-color: #EEE;
}

@media (min-width: 768px){
    .right-nav{
        float: right;
    }
}

@media (max-width: 768px) {
    .nav-title {
        font-size: 14px;
        line-height: 50px;
    }
}