body {
  background-color: #ffffff;
}

h4,h1,h2,h3,h5{
    text-align: center;
}

#li-username{
    line-height: 50px;
    color: #777777;
}

.nav-title{
    line-height: 50px;
    color: #777777;
    margin-left: 10px;
    font-size: 20px ;
}

@media (min-width: 768px){
    .right-nav{
        float: right;
    }
}

#qr-canvas { display: none; }