{% extends 'qr/base.html' %}
{% block title %}{{ curso.nombre }}{% endblock %}

{% block body %}
{% load staticfiles %}
    <div class="container">
        <div class="row center">
            <h3>{{ curso.nombre }}</h3>
            <h5>Inicio: {{ clase.inicio }}  Fin: {{ clase.fin }} </h5>
        </div>
        <div clas="row">
            <div class="col-sm-6">
                <p>QR</p>
            </div>
            <div class="col-sm-6">
                <p>Listado tomado</p>
            </div>
        </div>
    </div>
{% endblock %}