{% extends 'qr/base.html' %}
{% load staticfiles %}

{% block title %}{{ curso.nombre }}{% endblock %}
{% block head %}
    <script src="{% static "qr/js/angular.min.js" %}"></script>
    <!--<script src="{% static "qr/js/angular.min.js.map" %}"></script>-->
    <script src="{% static "qr/js/qr.angular.js" %}"></script>
    <script src="{% static "qr/js/webcam.js" %}"></script>
    <script src="{% static "qr/js/bc-qr-reader.js" %}"></script>
    <link rel='stylesheet' href="{% static "qr/css/qr.css" %}" />
    <link rel='stylesheet' href="{% static "qr/css/clase.css" %}" />
{% endblock %}
{% block body %}
    <div class="container" ng-app="Scanner" ng-controller="scan-controller">
        <div class="row center">
            <h3><b>{{ curso.nombre }}</b></h3>
            <p class="center hora"><b>Inicio:</b> {{ clase.inicio }}</p>
            <p class="center hora"><b>Fin:</b> {{ clase.fin }}</p>
        </div>
        <div clas="row">
            {% if active %}
            <div class="col-sm-4">
                <p>Por favor haga click en el boton para leer un codigo QR. Si la persona no cuenta con codigo QR, puede ingresar el documento en el campo y hacer clic en insertar</p>
                <br>
                <div class="center">
                    <button class="btn btn-success" ng-click="start()">
                        Leer codigo QR
                    </button>
                </div>
                <br>
                <p ng-hide="cameraRequested">El navegador debera pedir permiso para acceder a la camara</p>
                <br>
                <div class="center">
                  <bc-qr-reader class="qr_camera" active="cameraRequested" on-result="processURLfromQR" on-error="onError" camera-status="cameraIsOn"></bc-qr-reader>
                </div>
                <p ng-show="url">QR Detectado: {% verbatim %}<b>{{ url }}</b>{% endverbatim %}</p>

                <div ng-show="bien" class="alert alert-success">
                  <strong>Exito: </strong> {% verbatim %}{{ mensaje }}{% endverbatim %}
                </div>

                <div ng-show="mal" class="alert alert-danger">
                  <strong>Error: </strong> {% verbatim %}{{ mensaje }}{% endverbatim %}
                </div>
                <!--<select ng-model="select-camera" ng-options="c as c for c in cameras"></select>-->
                <p ng-bind="cameras"></p>
                <br>
                <div class="row">
                    <div class="col-xs-8">
                        <input ng-model="identificacion" class="form-control" type="text" name="fname" placeholder="Documento">
                    </div>
                    <input  class="btn col-xs-4 " type="submit" value="Insertar" ng-click="asistenciaManual({{ curso.identificador }})">
                </div>
            </div>
            <div class="col-sm-8">
            {% else %}
            <div class="col-sm-12">
            {% endif %}
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Documento</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Hora Asistencia</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%  for asistencia in asistencias %}
                        <tr>
                          <td>{{ asistencia.estudiante.identificacion }}</td>
                          <td>{{ asistencia.estudiante.nombre }}</td>
                          <td>{{ asistencia.fecha }}</td>
                        </tr>
                    {% endfor %}
                    {% verbatim %}
                    <tr ng-repeat="a in nuevas_asistencias">
                        <td>{{ a.documento }}</td>
                        <td>{{ a.nombre }}</td>
                        <td>{{ a.hora }}</td>
                    </tr>
                    {% endverbatim %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}