{% extends 'qr/base.html' %}
{% block title %}{{ curso.nombre }}{% endblock %}

{% block body %}
{% load staticfiles %}
    <div class="container">
        <div class="row">
            <h1>{{ curso.nombre }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Información del curso</p>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h3>Sesiones activas</h3>
                    <div class="notebooks" >
                      <ul class="notebook_ul">
                          {%  for clase in now %}
                            <li class="li-clase li-active">
                                <a href="{% url 'qr:clase' curso.id clase.id%}">
                                  inicio: {{clase.inicio}}<br/>
                                  fin: {{clase.fin}}<br/>
                                </a>
                            </li>
                          {% endfor %}
                          {%  for clase in next %}
                            <li class="li-clase li-next">
                              inicio: {{clase.inicio}}<br/>
                              fin: {{clase.fin}}<br/>
                            </li>
                          {% endfor %}
                      </ul>
                      <span>Número total de sesiones: {{curso.clases.all|length}}</span>
                    </div>
                </div>
                <div class="row">
                    <h3>Sesiones pasadas</h3>
                    <div class="notebooks" >
                        <ul class="notebook_ul">
                            {%  for clase in previous %}
                                <li class="li-clase li-previous">
                                  inicio: {{clase.inicio}}<br/>
                                  fin: {{clase.fin}}<br/>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}