{% extends 'qr/base.html' %}
{% load staticfiles %}
{% block title %}{{ curso.nombre }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "qr/css/curso.css" %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>{{ curso.nombre }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>Información del curso</p>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h3>Sesiones activas</h3>
                    <div class="notebooks" >
                      <ul class="notebook_ul">
                        {% if not now %}
                            <h4>No hay sesiones activas en este momento</h4>
                        {% endif %}
                          {%  for clase in now %}
                            <li class="li-clase li-active">
                                <a href="{% url 'qr:clase' curso.id clase.id%}">
                                  inicio: {{clase.inicio}}<br/>
                                  fin: {{clase.fin}}<br/>
                                </a>
                            </li>
                          {% endfor %}
                      </ul>
                    </div>
                </div>
                    <div class="row">
                        <h3>Sesiones siguientes</h3>
                        <div class="notebooks" >
                            <ul class="notebook_ul">
                             {% if not next %}
                            <h4>No hay sesiones proximas</h4>
                            {% endif %}
                          {%  for clase in next %}
                            <li class="li-clase li-next">
                              inicio: {{clase.inicio}}<br/>
                              fin: {{clase.fin}}<br/>
                            </li>
                          {% endfor %}
                      </ul>
                      <!--<span>Número total de sesiones: {{curso.clases.all|length}}</span>-->
                    </div>
                </div>
                <div class="row">
                    <h3>Sesiones pasadas</h3>
                    <div class="notebooks" >
                        <ul class="notebook_ul">
                         {% if not previous %}
                            <h4>No hay sesiones pasadas registradas</h4>
                        {% endif %}
                            {%  for clase in previous %}
                                <li class="li-clase li-previous">
                                 <a href="{% url 'qr:clase' curso.id clase.id %}">
                                  inicio: {{clase.inicio}}<br/>
                                  fin: {{clase.fin}}<br/>
                                 </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}