{% extends 'qr/base.html' %}
{% block title %}Catedra 2018{% endblock %}

{% block body %}
{% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if monitor %}
                    {% if not cursos_monitor %}
                        <h3>No tienes cursos asociados a su cuenta como monitor</h3>
                    {% else %}
                        <h3 class="center"><b>CURSOS A CARGO</b></h3>
                        <table align="center">
                            <thead>
                                <!--<tr>
                                    <th>Nombre</th>
                                </tr>-->
                            </thead>
                            <tbody>
                                {%  for curso in cursos_monitor %}
                                <tr>
                                    <td class="td_curso"><h4><a href="{% url 'qr:curso' curso.id %}">{{ curso.nombre }}</a></h4></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
                {% if not cursos_estudiante%}
                    {% if not monitor %}
                        <h3>No tienes cursos asociados a su cuenta como estudiante</h3>
                    {% endif %}
                {% else %}
                    <h3 class="center"><b>CURSOS INSCRITOS</b></h3>
                    <table align="center">
                        <thead>
                            <!--<tr>
                                <th>Nombre</th>
                            </tr>-->
                        </thead>
                        <tbody>
                            {%  for curso in cursos_estudiante %}
                            <tr>
                                <td class="td_curso"><h4><a href="{% url 'qr:curso' curso.id %}">{{ curso.nombre }}</a></h4></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}