{% extends 'qr/base.html' %}
{% block title %}Catedra 2018{% endblock %}

{% block body %}
{% load staticfiles %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="center"><b>CURSOS CÁTEDRA INTERNACIONAL</b></h3>

                {% if not cursos %}
                    <h3>No tienes cursos disponibles</h3>
                {% else %}
                    <table>
                        <thead>
                            <!--<tr>
                                <th>Nombre</th>
                            </tr>-->
                        </thead>
                        <tbody>
                            {%  for curso in cursos %}
                            <tr>
                                <td class="td_curso"><h4><a href="{% url 'qr:curso' curso.id %}">{{ curso.nombre }}</a></h4></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}